*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: 'Courier New', Courier, monospace;
}

li,a,button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
    color: #cdf0f1;
    text-decoration: none;
    background-color: transparent;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999; /* Ensure navbar is above other content */
    transition: background-color 0.3s ease;
}

.logo{
    cursor: pointer;
    background-color: transparent;
}

.nav_links {
    list-style: none;
    background-color: transparent;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0%;
}

.nav_links li a:hover {
    color: #A0D1D2;
}

nav{
    background-color: transparent;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0%;
    cursor: pointer;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

.active {
    padding-block: 20px;
    background-color: rgba(0,136,169,1);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease 0%;
}

.active:hover{
    background-color: rgba(0,136,169,0.8);
}

/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Hero section styling */
.hero {
    position: relative;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Hero image styling */
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Hero content (overlay) styling */
.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #cdf0f1;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    background-color: transparent;
}

.hero-content p {
    font-size: 1.5rem;
    background-color: transparent;
}

.social-icons {
    background-color: transparent;
    margin-top: 30px;
    transition: color 0.3s ease;
}

.social-icons a:hover{
    background-color: (0,136,169,0.8);
}

i{
    background-color: transparent;
}

.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #24252A;
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: 500ms ease;
    z-index: 1000;
  }
  
  .preload > * { transition: 250ms ease; }
  
  .preload.loaded > * { opacity: 0; }
  
  .preload.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
  }
  
  .circle {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 3px solid #cdf0f1;
    border-block-start-color: rgba(0,136,169,0.8);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
  }
  
  @keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }
  
  .preload .text {
    background-image: linear-gradient(90deg, transparent 0% 16.66%, rgba(0,136,169,0.8) 33.33% 50%,  transparent 66.66% 75%);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px rgba(0,136,169,0.8);
    animation: loadingText linear 2s infinite;
  }
  
  @keyframes loadingText {
    0% { background-position: 100%; }
    100% { background-position: 0%; }
  }

  /* Experience css*/

  h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #cdf0f1;
    margin: 150px auto 50px auto;
    text-align: center;
  }
 
 .row {
    display: flex;
    align-content: center;
    justify-content: center;
 }

 .EX {
    width: 500px;
    height: 250px;
    padding: 20px;
 }

 .container {
  position: relative;
}


 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 250px;  
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 0.8;
  cursor: pointer;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
}

 /*Contact*/

 .contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
  .contact-left {
    display:flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .contact-left-title h2{
    font-weight:600px;
    font-size: 40px;
    margin-bottom: 5px;
  }

  .contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #cdf0f1;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .contact-input{
    font-family: 'Courier New', Courier, monospace;
    border-color: #cdf0f1;
    outline: none;
    width: 400px;
    height: 50px;
    padding-left: 25px;
    font-weight: 500px;
    color: white;
    border-radius: 50px;
  }

  .contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
  }

  .contact-input:focus{
    border: 2px solid rgba(0,136,169,0.8);
  }

  

  /* about */

  .overall {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
  }

.contact-img{
  width:400px;
  height: 500px;
  margin-top: 100px;
  border: 10px solid grey;
  border-radius: 10px;
}
 
p{
  color:aliceblue;
  font-size: 25px;
  background-color: transparent;
}

.about-container hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #cdf0f1;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about-container{
  display: flex;
  flex-direction: column;
}

.about-container h2{
  margin-left: 0;
}

.about-container h2{
  text-align: left;
  margin-bottom: 20px;
}

.timeline-wrapper{
  display:flex;
  justify-content: center;
  padding: 2rem 12% 2rem;
  margin-top: -100px;
}

.timeline-row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.heading{
  font-size: 2.5rem;
  margin: 2rem 30px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content-box{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  margin: 0 2rem;
  background-color: rgb(72, 72, 72);
  backdrop-filter: blur(20px);
  border: 3px soild #cdf0f1;
  border-radius: 1rem;
  font-size: 14px;
  transition: 0.4s ease;
  cursor: pointer;
}

.contant-box:hover{
  box-shadow: 0 0 25px #cdf0f1;
  border: 3px soild #cdf0f1;
}

.timeline-box{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h3 {
  background-color: transparent;
}

.date{
  background-color: transparent;
}